*{ margin:0; padding:0; list-style:none;}
#indexslider {
	position:relative;
}
.index-img {
	/*display:block;*/
	overflow:hidden;
}
.index-pagination {
	position:absolute;
	z-index:66;
    top: 85%;
	left: 42.5%;
	height:30px;
	text-align:center;
}
.index-pagination li {
	display:inline-block;
	width:60px;
	position:relative;
	float:left;
	height:23px;
	margin-right:4px;
	overflow:hidden;
}
.index-pagination li a {
	position:relative;
	z-index:666;
	display:block;
	padding:16px 0px 5px 0px;
	height:5px;
	color:#5f6a72;
	text-align:center;
}
.index-pagination li a div {
	position:relative;
	z-index:555;
	display:block;
	height:3px;
	background:#fff;
}
.index-pagination li a div span {
	position:absolute;
	top:0px;
	left:0px;
	height:3px;
	width:0px;
	background:#038cf6;
}
.index-pagination li.current a {
	color:#0b4da2;
	_color:#c9242b;
}
.bannerVideo{
	width: 1112px;
	height: 446px;
	margin: 20px auto;
	background: #333333;
}
.index-img video, .roadVideo img {
	width: 788px;
	height: 446px;
	float: left;
	border-right: 1px #4b5962 solid;
	box-shadow:5px 0px 5px #304149;
	-webkit-box-shadow: 5px 0px 5px #304149;
}

.video_zero{
	width: 260px;
	height: 400px;
	float: left;
	top: 0px;
	padding: 50px 20px 0px;
	right: 10px;
	position: absolute;
}
.video_zero .zero_logo{
	margin-left: 88px;
	display: block;
}
.video_zero .zeroTitle{
	margin-top: 135px;
	text-align: center;
}
.video_zero .zero_text{
	margin-top: 20px;
	margin-left: 20px;
}
.video_zero .zero_text span{
	font-family: "Microsoft YaHei";
	font-size: 14px;
	line-height: 25px;
	color: #cfcfcf;
	display: block;
}
.video_zero .zero_text span div label{
	font-size: 12px;
}
.bannerVideo .zero_text div{
	width: 105px;
	margin-left: 40px;
}
.video_zero .index-pagination{
	left: 20px;
}