/* CSS Document */

body{
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0px;
	font-family: "Microsoft YaHei";
}
body a{
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	cursor:pointer;
}

/** header start */

#headerObject{
	width: 100%;
	height: 65px;
	position: fixed;
	z-index: 200;
}
#topnav {
	height: 62px;
	top: 0px;
	position: fixed;
	display: block;
	background: url(../image/nav_bg.png) !important;
	border-bottom: 4px #038cfb solid !important;
	position: fixed;
	z-index: 2;
}
.nav{
	width: 1112px !important;
	padding-left: 18px;
	padding-right: 18px;
	margin: 0 auto;
}
.nav-ul{
	width: 60%;
	float: left;
}
.nav .sui-brand{
	margin-right: 10px;
}
.nav-ul li{
	width: 130px;
	float: left;
	text-align: center;
	padding-top: 13px;
	padding-bottom: 13px;
	line-height: 35px;
	list-style: none;
}
#topnav .nav-ul li a{
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
}
.logo{
	float: left;
	margin: 15px;
}

.onNav{
	background: #038cf6;
}
#login{
	width: 20%;
	padding-top: 25px;
	text-align: right;
	float: right;
	color: #fff;
}
#login span{
	margin-right: 10px;
	margin-left: 10px;
}
#login a{
	font-size: 16px;
	text-decoration: none;
}
#login a:hover{
	color: #fff;
}
#login a:visited{
	color: #fff;
}
.col_text{
	text-align: center;
	font-size: 12px;
	position: relative;
	top: 25px;
	left: 5px;
}
.col_text:visited{
	color: #fff;
	overflow: hidden;
}
.col_text:hover{
	text-decoration: none;
	color: #fff;
}
.col_text:active{
	color: #fff;
}

.head_div{
	top: 0px;
	position: fixed;
	z-index: 300;
}
#in_head{
	padding: 5px 10px;
	float: left;
	color: #fff;
}

#in_head img{
	width: 53px;
	height: 53px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
}
.ins_bg{
	background: url("../image/in_icon.png") no-repeat;
}
.head_pop{
	width: 138px;
	height: 215px;
	top: 65px;
	background: rgba(0,0,0,0.6);
	box-shadow: 1.5px 2px 1px 1px #c9c9c9;
	-webkit-box-shadow: 1.5px 2px 1px 1px rgba(0,0,0, 0.1);
	z-index: 200;
	position: absolute;
}
.head_pop ul{
	width: 100%;
	height: 100%;
	margin: 0px;
}
.head_pop ul li{
	padding: 8px;
	list-style: none;
	border-bottom: 1px #4d4d4d solid;
}
.head_pop ul li a, .head_pop ul li a:hover, .head_pop ul li a:focus{
	color: #fff;
	font-size: 14px;
	font-family: "SimHei";
	text-decoration: none;
}
.in_center{
	width: 18px;
	height: 22px;
	float: left;
	margin: -4px 10px 0px;
	background-position: -45px -36px;
}
.pro_manage{
	width: 18px;
	height: 22px;
	float: left;
	margin: -4px 10px 0px;
	background-position: -45px -70px;
}
.me_manage{
	width: 18px;
	height: 22px;
	float: left;
	margin: -4px 10px 0px;
	background-position: -45px -105px;
}
.cap_manage{
	width: 18px;
	height: 22px;
	float: left;
	margin: -4px 10px 0px;
	background-position: -45px -138px;
}
.message{
	width: 18px;
	height: 22px;
	float: left;
	margin: -4px 10px 0px;
	background-position: -45px -172px;
}
.back{
	width: 18px;
	height: 22px;
	float: left;
	margin: -4px 10px 0px;
	background-position: -45px -206px;
}
/* header end */
.container {
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
}

.banner{
	width: auto;
	height: auto;
	margin-top: -5px;
}
.text_animate{
	width: auto;
	height: auto;
	padding: 5px;
	float: left;
	text-align: left;
}
.pro_con_index{
	width: 100%;
	height: auto;
	border-top: 1px #e3e3e3 solid;
	background: #fff;
}

.index_text{
	width: 1112px;
	height: auto;
	margin: 0 auto;
	text-align: left;
	padding-top: 40px;
	padding-bottom: 40px;
	overflow: hidden;
}
.pro_dynamic{
	width: 470px;
	float: left;
	margin-right: 100px;
}
.dynamic_text{
	width: auto;
	overflow: hidden;
	padding-top: 25px;
	padding-right: 10px;
}
.dynamic_text p{
	line-height: 25px;
}
.dynamic_text p img{
	margin: 5px 5px 5px;
	border: none !important;
}
.dynamic_text img{
	float: left;
	margin-right: 15px;
}
.pro_media{
	width: 48%;
	float: left;
}
.pro_media .dynamic_text img{
	padding: 1px;
	border: 1px #CCCCCC solid;
}
.pro_media .dynamic_text p{
	margin-top: -2px;
}
.ok_bg{
	background: url("../image/ok.png") no-repeat;
}
.ok_pos{
	width: 1112px;
	height: 260px;
	margin-top: 35px;
	background-position: -12px -21px;
}
.zero_pos{
	width: 322px;
	height: 260px;
	float: right;
	background: #333333;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}
.zero_logo{
	width: 80px;
	height: 80px;
	margin-top: 42px;
	margin-left: 10px;
	float: left;
	background-position: -1104px -136px;
}
.zero_text{
	width: 208px;
	margin-top: 48px;
	float: left;
	overflow: hidden;
	padding-left: 20px;
}

.zero_text span{
	line-height: 23px;
	color: #fff;
}

.spt_list{
	width: 1112px;
	height: auto;
	margin: 0 auto;
	padding: 0px;
	text-align:justify;
	overflow: hidden;
}
.spt_list_div{
	width: 254px;
	height: 356px;
	display: inline-block;
	overflow: hidden;
	border: 1px #cccccc solid;
	margin-bottom: 30px;
	font-size: 16px;
}
.all_project{
	width: 336px;
	height: 350px;
}
.all_project .spt_list_fot{
	margin-top: 20px;
}
.justify{
	width: 100px;
	height: 0px;
	display: inline-block;
}
.spt_list_div .img-responsive{
	margin: 1px;
}
.spt_list_tile{
	font-size: 18px;
	color: #282828;
	padding-left: 10px;
	padding-top: 18px;
}
.spt_list_body{
	padding: 1px 1px 0px;
	background: #fff;
	height: 320px;
	margin-bottom: -30px;
	font-family: "Microsoft YaHei"
}
.spt_list_body header{
	padding: 18px 15px;
	font-size: 30px;
	color: #000000;
}
.spt_list_body label{
	padding: 5px 15px;
	font-size: 16px;
	color: #000000;
	line-height: 26px;
	display: block;
}
.spt_list_body span{
	font-size: 14px;
	padding: 0px 15px;
	line-height: 26px;
	color: #999999;
	display: block;
}
.spt_list .spt_list_div p{
	line-height: 15px;
}
.spt_list_div p img{
	margin-left: 15px;
	margin-top: -2px;
	margin-right: 5px;
}
.spt_list_div .sui-progress{
	height: 9px !important;
	background: #97d6ff !important;
}
.spt_list_fot{
	height: 18px;
	padding: 10px 10px;
	overflow: hidden;
	margin-top: 30px;
	background: #f5f5f5;
}
.spt_list_fot a{
	margin-top: -4px;
	float: right;
}

.dynamic_ul{
	margin-top: 10px;
	overflow: hidden;
	padding-left: 10px;
}
.sli_line_t a{
	color: #000;
}
.sli_line_t{
	list-style: none;
	line-height: 35px;
}
.sn_con_left{
	float: left;
}

.sn_con_right{
	float: right;
}

.sindex_img_bg{
	background:url(../image/logo1.png) no-repeat;
}

.scom_footer{
	width: 100%;
	height: auto;
	clear:both;
	background: #363636;
}
.sf_contact{
	width: 1042px;
	height: auto;
	margin: 0 auto;
	font-size: 18px;
	padding: 30px 10px 10px;
	overflow: hidden;
}
.sf_contact a{
	margin-right: 10px;
}
.sf_contact span{
	line-height: 25px;
}
.sf_contact a, .sf_contact a:hover, .sf_contact a:focus{
	text-decoration: none;
}
.sn_con_text{
	padding-top: 20px;
	width: 110px;
	height: 40px;
	color: #fff;
	font-size: 28px;
	padding-bottom: 10px;
}
.sf_links_top{
	width: 100%;
	height: 2px;
	border-bottom: 1px #a9a9a9 solid;
	-moz-box-shadow:0px 0px 5px #121212 inset;
	-webkit-box-shadow:0px 0px 5px #121212 inset;
	box-shadow:0px 0px 5px #121212 inset;
}
.sf_links{
	width: 100%;
	padding-top: 8px;
	padding-bottom: 8px;
}
.sn_con_center{
	width: 1112px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}
.sn_con_center .sui-btn-group{
	margin-left: 20px;
}
.sn_con_center .sui-btn-group button{
	background: #8a8a8a;
	color: #fff;
}
.sn_con_center a, .sn_con_center a:hover, .sn_con_center a:focus{
	text-decoration: none;
	margin-right: 5px;
}

.label_0 {
	font-size: 12.5px !important;
	font-weight: 100 !important;
	color: #ffffff !important;
}
.label_1 {
	font-size: 16px !important;
	font-weight: 100 !important;
	color: #ffffff !important;
}

.sn_con_center .label{
	padding-left: 2px;
	padding-right: 8px;
}
.btn-default-bg{
	background-color: #8a8a8a;
	color: #fff;
	width: 60px;
	height: 25px;
	font-size: 12px;
	padding-top: 0px;
}
.sf_contact .sn_con_left a .label{
	font-size: 16px;;
}
.sf_contact .sn_con_left .label{
	font-size: 12px;;
}
.sn_con_center .btn{
	padding: 2px 12px;
	font-size: 12.5px;
	border-radius: 0px;
}
.sina{
	width: 90px;
	height: 50px;
	float: left;
	background-position: -30px -420px;
}
.qq{
	width: 85px;
	height: 50px;
	float: left;
	background-position: -115px -420px;
}
.wechat{
	width: 70px;
	height: 50px;
	float: left;
	background-position: -200px -420px;
}
.custom{
	width:90px;
	height: 50px;
	float: left;
	background-position: -265px -420px;
}

.img-right{
	margin-right: 15px;
}

.screening{
	width: 1112px;
	margin: 30px auto;

	background: #fff;
}
.screening label{
	font-family: "Microsoft YaHei";
	font-size: 14px;
}