/* CSS Document */

body{
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0px;
	font-family: "Microsoft YaHei";
}
body a{
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	cursor:pointer;
}

#topnav {
	height: 62px;
	top: 0px;
	position: fixed;
	display: block;
	background: url(../image/nav_bg.png) !important;
	border-bottom: 4px #038cfb solid !important;
	position: fixed;
	z-index: 2000;
}
.nav{
	width: 1112px !important;
	padding-left: 18px;
	padding-right: 18px;
	margin: 0 auto;
}
.nav-ul{
	width: 60%;
	float: left;
}
.nav .sui-brand{
	margin-right: 10px;
}
.nav-ul li{
	width: 130px;
	float: left;
	text-align: center;
	padding-top: 13px;
	padding-bottom: 13px;
	line-height: 35px;
	list-style: none;
}
#topnav .nav-ul li a{
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
}
.logo{
	float: left;
	margin: 15px;
}

.container {
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
}

.banner{
	width: auto;
	height: auto;
	margin-top: -5px;
}
.text_animate{
	width: auto;
	height: auto;
	padding: 5px;
	float: left;
	text-align: left;
}
/*.p_num{
	width: 100px;
}
.m_num{
	width: 157px;
}
.ap_num{
	width: 265px;
}
.s_monty{
	width: 200px;
}*/
.pro_con_index{
	width: 100%;
	height: auto;
	border-top: 1px #e3e3e3 solid;
	background: #fff;
}

.index_text{
	width: 1112px;
	height: auto;
	margin: 0 auto;
	text-align: left;
	padding-top: 40px;
	padding-bottom: 40px;
	overflow: hidden;
}
.pro_dynamic{
	width: 470px;
	float: left;
	margin-right: 100px;
}
.dynamic_text{
	width: auto;
	overflow: hidden;
	padding-top: 25px;
	padding-right: 10px;
}
.dynamic_text p{
	line-height: 25px;
}
.dynamic_text p img{
	margin: 5px 5px 5px;
	border: none !important;
}
.dynamic_text img{
	float: left;
	margin-right: 15px;
}
.pro_media{
	width: 48%;
	float: left;
}
.pro_media .dynamic_text img{
	padding: 1px;
	border: 1px #CCCCCC solid;
}
.pro_media .dynamic_text p{
	margin-top: -2px;
}
.ok_bg{
	background: url("../image/ok.png") no-repeat;
}
.ok_pos{
	width: 1112px;
	height: 260px;
	margin-top: 35px;
	background-position: -12px -21px;
}
.zero_pos{
	width: 322px;
	height: 260px;
	float: right;
	background: #333333;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}
.zero_logo{
	width: 80px;
	height: 80px;
	margin-top: 42px;
	margin-left: 10px;
	float: left;
	background-position: -1104px -136px;
}
.zero_text{
	width: 208px;
	margin-top: 48px;
	float: left;
	overflow: hidden;
	padding-left: 20px;
}

.zero_text span{
	line-height: 23px;
	color: #fff;
}

.spt_list{
	width: 1112px;
	height: auto;
	margin: 0 auto;
	padding: 0px;
	text-align:justify;
	overflow: hidden;
}
.spt_list_div{
	width: 254px;
	height: 356px;
	display: inline-block;
	overflow: hidden;
	border: 1px #cccccc solid;
	margin-bottom: 30px;
	font-size: 16px;
}
.justify{
	width: 100px;
	height: 0px;
	display: inline-block;
}
.spt_list_div .img-responsive{
	margin: 1px;
}
.spt_list_tile{
	font-size: 18px;
	color: #282828;
	padding-left: 10px;
}
.spt_list .spt_list_div p{
	line-height: 15px;
}
.spt_list_div p img{
	margin-left: 15px;
	margin-top: -2px;
	margin-right: 5px;
}
.spt_list .spt_list_div .sui-progress{
	height: 9px !important;
	background: #97d6ff !important;
}
.spt_list_fot{
	height: 18px;
	padding: 10px 10px;
	overflow: hidden;
	margin-top: 30px;
	background: #f5f5f5;
}
.spt_list_fot a{
	margin-top: -4px;
	float: right;
}

.dynamic_ul{
	margin-top: 10px;
	overflow: hidden;
	padding-left: 10px;
}
.sli_line_t a{
	color: #000;
}
.sli_line_t{
	list-style: none;
	line-height: 35px;
}
.sn_con_left{
	float: left;
}

.sn_con_right{
	float: right;
}














#topnav .topnavDiv{
	height: 100%;
	z-index: 2;
}
.col{
	text-align: center;
	height: 100%;
	font-size: 16px;
	padding-top: 20px;
	text-decoration: none;
}
.text_d{
	text-decoration:none;
}
.col_text{
	text-align: center;
	font-size: 12px;
	position: relative; 
	top: 25px;
	left: 5px;
}
.col_text:visited{
	color: #fff;
	overflow: hidden;
} 
.col_text:hover{
	text-decoration: none;
	color: #fff;
}
.col_text:active{
	color: #fff;
}
.onNav{
	background: #038cf6;
}
#topnav .topnavDiv .col:visited{
	color: #fff;
	overflow: hidden;
} 
#topnav .topnavDiv .col:hover{
	background: #038cf6;
	text-decoration: none;
	color: #fff;
}
#topnav .topnavDiv .col:active{
	color: #fff;
}
.onNav{
	background: #038cf6;
}
#login{
	width: 20%;
	padding-top: 25px;
	text-align: right;
	float: right;
	color: #fff;
}
#login span{
	margin-right: 10px;
	margin-left: 10px;
}
#login a{
	font-size: 16px;
	text-decoration: none;
}
#login a:hover{
	color: #fff;
}
#login a:visited{
	color: #fff;
}
.sindex_banner_logo{
    width: 100%;
    height: 80%;
    top: 10%;
    position: absolute;
    overflow: hidden;
}
.sindex_img_bg{
	background:url(../image/logo1.png) no-repeat;
}
.sindex_project{
	width: 600px;
	height: 280px;
	margin: 0 auto;
	text-align: right;
	overflow: hidden;
	
}
.sindex_logo{
	width: 600px;
	height:227px;
	background-position: 0px 20px;
}
.sindex_item{
	width:1030px;
	height: auto;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
}
.sindex_num{
	width: auto;
	float: left;
	height: auto;
	text-align: center;
}
.snum_pnum{
	width: 80%;
	float: right;
	height:auto;
	color: #038cf6;	
	font-family: "SimHei" !important;
	font-size: 57px;
	margin-top: -12px;
}
.snum_mnum{
	width: 200px;
	height:auto;
	float: left;
	text-align: left;
	margin-top: -5px;
	font-family: "SimHei" !important;
	color: #038cf6;
	font-size: 42px;
}
.snum_apnum{
	width: 280px;
	height:auto;
	float: left;
	font-family: "SimHei" !important;
	color: #038cf6;
	margin-top: 0px;
	font-size: 36px;
}
.snum_smonty{
	width: 300px;
	height:auto;
	float: left;
	font-family: "SimHei" !important;
	margin-top: -16px;
	color: #038cf6;
	font-size: 36px;
	text-align: right;
}
.sitem{
	float: left;
	width: auto;
	height: 100%;
	margin-right: 20px;
}
.sitem1{
	margin-left: -20px;
}
.sitem_prnum_1{
	width: 110px;
	height: 38px;
	margin-top: 15px;
	z-index: 3;
	position: relative;
	background-position: 0px -210px;
}
.sitem_prnum_2{
	width: 110px;
	height: 40px;
	z-index: 2;
	position: relative;
	background-position: -122px -210px;
}
.sitem_prnum_3{
	width: 110px;
	height: 40px;
	background-position: -225px -210px;
}
.s_top{
	margin-top: -18px
}
.sitem_pr_text{
	width: 100px;
	height: 50px;
	margin-top: 22px;
	background-position: -30px -355px;
}
.sitem_mnum_1{
	width: 60px;
	height: 60px;
	margin-left: 16px;
	position: relative;
	background-position: -335px -280px;
}
.sitem_mnum_2{
	width: 60px;
	height: 60px;
	position: relative;
	z-index: 2;
	margin-left: 8px;
	background-position: -276px -280px;
}

.sitem_mnum_3{
	width: 60px;
	height: 60px;
	position: relative;
	z-index: 3;
	margin-left: 0px;
	background-position: -205px -280px;
}

.sitem_mnum_text{
	width: 70px;
	height: 50px;
	margin-top: 18px;
	background-position: -130px -355px;
}
.sitem_apnum_1{
	margin-top: 18px;
	width: 50px;
	height: 60px;
	float: left;
	background-position: 0px -260px;
}
.sitem_apnum_2{
	width: 50px;
	height:60px;
	float: left;
	margin-top: 22px;
	margin-left: -25px;
	background-position: -50px -260px;
}
.sitem_apnum_text{
	width: 200px;
	height: 50px;
	margin-top: 15px;
	background-position:-210px -355px;
}
.sitem_smonty{
	margin-top: 8px;
	width: 135px;
	height: 90px;
	background-position: -410px -220px;
}
.sitem_smonty_text{
	width: 150px;
	height: 50px;
	margin-top: 18px;
	background-position: -410px -355px;
}
.section_com{
	width: 100%;
	height: auto;
	background: #efefef;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
.scom_product .nav{
	width: 80%;
	float: left;
}
.scom_product{
	width: 1122px;
	height: auto;
	margin: 0 auto;
	margin-top: 40px;
	position: relative;
	overflow: hidden;
}
.spt_classify{
	background: #fff;
	height: auto;
	border: 1px #e3e3e3 solid;
	margin-top: 0px;
	border-radius:8px;
	-moz-border-radius:8px;
	box-shadow: 1px 1px #e6e6e6;
}

.productDiv{
	width: 100%;
	height: 43px;
	padding-top: 5px;
	text-align: left;
	margin-bottom: 2px;
}
.productDiv .col-lg-2{
	width: 120px;
	color: #828282;
	float: left;
	font-weight: bold;
	font-size: 16px;
	padding-top: 5px;
}

.productDiv .nav li{
	margin-left: 25px;
}
.productDiv .nav li a{
	color: #828282;
	font-size: 16px;
	padding: 5px 5px;
}
.productDiv .nav li a:hover, .productDiv .nav li a:focus{
	text-decoration:none;
	background-color:#038cf6;
	color: #fff;
	padding: 5px 5px;
}
.spt_sort{
	margin-top:10px;
	height: auto;
	margin-bottom: 10px;
}



















.spt_list_div_mar{
	margin-right: 0px;
}


.spt_list_div .progress{
	height: 10px;
	background: #9e9e9e;
	margin-top: 30px;
	margin-bottom: 0px;
}
.spt_list_div .progress .progress-bar{
	background: #038cf6;
	height: 20px;
}
.spt_list_div img{
	border: none;
}
.spt_list_div .btn-primary{
	margin-top:5px;
	float: right;
	font-weight: 600;
	margin-right: 5px;
	background: #038cf6;
}
.scom_news{
	width: 100%;
	height: 450px;
	margin-bottom: 30px;
	overflow: hidden;
	border-radius:5px;
	-moz-radius:5px;
	background: #f9f9f9;
}
.sn_con{
	width: 50%;
	float: left;
	height: auto;
}
.sn_con ul{
	width: 95%;
	height: auto;
	margin-top: 10px;
	overflow: hidden;
}
.sn_con ul li{
	width: 100%;
	line-height: 40px;
	list-style: none;
	overflow:hidden;
}
.sn_con ul li a{
	font-size: 16px;
	text-decoration: none;
	color: #3f3f3f;
}
.sli_line_h{
	border-bottom: 1px #c4c4c4 solid;
	padding-bottom:15px;
	margin-bottom: 15px;
}

.sn_con_header{
	color: #000;
	font-size: 12px;
}

.scom_footer{
	width: 100%;
	height: auto;
	clear:both;
	background: #363636;
}
.sf_contact{
	width: 1042px;
	height: auto;
	margin: 0 auto;
	font-size: 18px;
	padding: 30px 10px 10px;
	overflow: hidden;
}
.sf_contact a{
	margin-right: 10px;
}
.sf_contact span{
	line-height: 25px;
}
.sf_contact a, .sf_contact a:hover, .sf_contact a:focus{
	text-decoration: none;
}
.sn_con_text{
	padding-top: 20px;
	width: 110px;
	height: 40px;
	color: #fff;
	font-size: 28px;
	padding-bottom: 10px;
}
.sf_links_top{
	width: 100%;
	height: 2px;
	border-bottom: 1px #a9a9a9 solid;
	-moz-box-shadow:0px 0px 5px #121212 inset;
	-webkit-box-shadow:0px 0px 5px #121212 inset;
	box-shadow:0px 0px 5px #121212 inset;
}
.sf_links{
	width: 100%;
	padding-top: 8px;
	padding-bottom: 8px;
}
.sn_con_center{
	width: 1112px;
	margin: 0 auto;
	overflow: hidden;
}
.sn_con_center a, .sn_con_center a:hover, .sn_con_center a:focus{
	text-decoration: none;
}

.label_0 {
	font-size: 12.5px !important;
	font-weight: 100 !important;
	color: #ffffff !important;
}
.label_1 {
	font-size: 16px !important;
	font-weight: 100 !important;
	color: #ffffff !important;
}

.sn_con_center .label{
	padding-left: 2px;
	padding-right: 8px;
}
.sn_con_center a{

}
.btn-default-bg{
	background-color: #8a8a8a;
	color: #fff;
	width: 60px;
	height: 25px;
	font-size: 12px;
	padding-top: 0px;
}
.sf_contact .sn_con_left a .label{
	font-size: 16px;;
}
.sf_contact .sn_con_left .label{
	font-size: 12px;;
}
.sn_con_center .btn{
	padding: 2px 12px;
	font-size: 12.5px;
	border-radius: 0px;
}
.sina{
	width: 90px;
	height: 50px;
	float: left;
	background-position: -30px -420px;
}
.qq{
	width: 85px;
	height: 50px;
	float: left;
	background-position: -115px -420px;
}
.wechat{
	width: 70px;
	height: 50px;
	float: left;
	background-position: -200px -420px;
}
.custom{
	width:90px;
	height: 50px;
	float: left;
	background-position: -265px -420px;
}

.img-right{
	margin-right: 15px;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
  0%, 60%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
			animation-duration: 5s;
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
			animation-duration: 2.5s;
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }



  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown;
	  animation-duration: 1s;
	   -webkit-animation-duration: 1s;
	  animation-timing-function: ease;
	  
}

@-webkit-keyframes bounce2 {
  0%, 25%, 50%, 75%, 100% {
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
  }

  20%{
        -webkit-transform: translate3d(0, 12px, 0);
            transform: translate3d(0, 12px, 0);
  }
	  
  45% , 50%{
       -webkit-transition-timing-function: cubic-bezier(0,0,0.58,1);
             transition-timing-function: cubic-bezier(0,0,0.58,1);
    -webkit-transform: translate3d(0,-12px,0);
            transform: translate3d(0,-12px,0);
  }
  
  70% {
    -webkit-transform: translate3d(0,8px,0);
            transform: translate3d(0,8px,0);
  }
  
  90% {
    -webkit-transform: translate3d(0, -2px,0);
            transform: translate3d(0, -2px,0);
  }

}


@keyframes bounce2 {
	0%, 25%, 50%, 75%, 100% {
		-webkit-transition-timing-function: linear;
		transition-timing-function: linear;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

	20%{
		-webkit-transform: translate3d(0, 12px, 0);
		transform: translate3d(0, 12px, 0);
	}

	45% , 50%{
		-webkit-transition-timing-function: cubic-bezier(0,0,0.58,1);
		transition-timing-function: cubic-bezier(0,0,0.58,1);
		-webkit-transform: translate3d(0,-12px,0);
		transform: translate3d(0,-12px,0);
	}

	70% {
		-webkit-transform: translate3d(0,8px,0);
		transform: translate3d(0,8px,0);
	}

	90% {
		-webkit-transform: translate3d(0, -2px,0);
		transform: translate3d(0, -2px,0);
	}
}

.bounce2 {
          -webkit-animation-name: bounce2;
                  animation-name: bounce2;
        animation-iteration-count:0.8;
-webkit-animation-iteration-count:0.8;
				  animation-delay:-0.3s;
		  -webkit-animation-delay:-0.3s;
               animation-duration:1.5s;
       -webkit-animation-duration:1.5s;

}

@-webkit-keyframes bounce1 {
  0%, 25%, 50%, 75%, 100% {
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
  }

  20%{
    -webkit-transform: translate3d(0, 6px, 0);
            transform: translate3d(0, 6px, 0);
  }
	  
  45% , 50%{
     -webkit-transition-timing-function: cubic-bezier(0,0,0.58,1);
             transition-timing-function: cubic-bezier(0,0,0.58,1);
    -webkit-transform: translate3d(0,-8px,0);
            transform: translate3d(0,-8px,0);
  }
  
  70% {
    -webkit-transform: translate3d(0,2px,0);
            transform: translate3d(0,2px,0);
  }
  
  90% {
    -webkit-transform: translate3d(0, -2px,0);
            transform: translate3d(0, -2px,0);
  }

}


@keyframes bounce1 {
  0%, 25%, 50%, 75%, 100% {
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
  }

  20%{
    -webkit-transform: translate3d(0, 2px, 0);
            transform: translate3d(0, 2px, 0);
  }
	  
  45% , 50%{
     -webkit-transition-timing-function: cubic-bezier(0,0,0.58,1);
             transition-timing-function: cubic-bezier(0,0,0.58,1);
    -webkit-transform: translate3d(0,-10px,0);
            transform: translate3d(0,-10px,0);
  }
  
  70% {
    -webkit-transform: translate3d(0,2px,0);
            transform: translate3d(0,2px,0);
  }
  
  90% {
    -webkit-transform: translate3d(0, -2px,0);
            transform: translate3d(0, -2px,0);
  }
}
  
.bounce1 {
           -webkit-animation-name: bounce1;
                   animation-name: bounce1;
        animation-iteration-count:0.8;
-webkit-animation-iteration-count:0.8;
				  animation-delay:-0.3s;
		  -webkit-animation-delay:-0.3s;
               animation-duration:1.5s;
       -webkit-animation-duration:1.5s;

}

@-webkit-keyframes bounce {
  0%, 25%, 50%, 75%, 100% {
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
  }

  20%, 24%{
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }
  
  43% , 50%{
   -webkit-transition-timing-function: cubic-bezier(0,0,0.58,1);
            transition-timing-function: cubic-bezier(0,0,0.58,1);
    -webkit-transform: translate3d(0,-20px,0);
            transform: translate3d(0,-20px,0);
  }
  70% {
  	-webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transform: translate3d(0,8px,0);
            transform: translate3d(0,8px,0);
  }
  
  90% {
    -webkit-transform: translate3d(0, -2px,0);
            transform: translate3d(0, -2px,0);
  }

}


@keyframes bounce {
     0%, 25%, 50%, 75%, 100% {
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
  }

  20%, 24%{
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }
  
  43% , 50%{
   -webkit-transition-timing-function: cubic-bezier(0,0,0.58,1);
            transition-timing-function: cubic-bezier(0,0,0.58,1);
    -webkit-transform: translate3d(0,-20px,0);
            transform: translate3d(0,-20px,0);
  }
  70% {
  	-webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transform: translate3d(0,8px,0);
            transform: translate3d(0,8px,0);
  }
  
  90% {
    -webkit-transform: translate3d(0, -2px,0);
            transform: translate3d(0, -2px,0);
  }
}

.bounce {
       -webkit-animation-name: bounce;
               animation-name: bounce;
    animation-iteration-count:0.8;
-webkit-animation-iteration-count:0.8;
				  animation-delay:-0.4s;
		  -webkit-animation-delay:-0.4s;
               animation-duration:1.5s;
       -webkit-animation-duration:1.5s;

}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  20% {opacity: 0.2;}
  30% {opacity: 0.3;}
  50% {opacity: 0.5;}
  70% {opacity: 0.7;}
  85% {opacity: 0.85;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
   0% {opacity: 0;}
  20% {opacity: 0.2;}
  30% {opacity: 0.3;}
  50% {opacity: 0.5;}
  70% {opacity: 0.7;}
  85% {opacity: 0.85;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
               animation-duration:1.5s;
       -webkit-animation-duration:1.5s;
}

.fadeIn2 {
      -webkit-animation-name: fadeIn;
              animation-name: fadeIn;
		  animation-duration: 2s;
  -webkit-animation-duration: 2s;
             animation-delay: 2s;
     -webkit-animation-delay: 2s;
}

#slayer {
	width: 85px;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 99;
	height: 250px;
}
.online{
	width: 100%;
	height: 84px;
	text-align: center;
	padding-top: 12px;
	margin-top: 5px;
	border-radius:8px;
	-moz-border-radius:8px;
	border: 1px #038cf6 solid;
}