/* CSS Document */

body{
	width: 100%;
	background: #efefef;
	height: auto;
	margin: 0 auto;
	padding: 0px;
	font-family: "SimHei";
}
.pro_con{
	width: 808px;
	margin:  0 auto;
	margin-top: 15%;
	overflow:  hidden;
}
.pro_nav{
	width: 510px;
	margin: 0 auto;
	font-size: 18px;
	overflow:  hidden;
	color: #fff;
	margin-bottom:30px;
	text-align:  center;
}
.pro_nav_bg{
	background: url("../image/pro_nav.png") no-repeat;
}
.pro_nav_postion{
	width: 173px;
	height: 36px;
	overflow: hidden;
	padding-top: 5px;
	float: left;
}
.basic{
	background-position: 0px -1px;
}
.eidtitem{
	background-position: -253px -1px;
	margin-left: -5px;
}
.pro_form{
	width: 808px;
	margin:  0 auto;
	padding-top: 30px;
	padding-left: 15%;
	border: 1px #cbd2d6 solid;
}
.pro_form_color{
	color: #ff0404;
	margin-right: 5px;
	font-size: 14px;
	line-height: 25px;
	text-align:  right;
}
.trust{
	color: #239af7;
	font-size: 14px;
	text-decoration: none;
}
.trust:hover{
	color: #239af7;
	text-decoration: none;
}
.trust:visited{
	color: #239af7;
	text-decoration: none;
}