/* CSS Document */

body{
	width: 100%;
	background: #f5f5f5 !important;
	height: auto;
	margin: 0 auto;
	padding: 0px;
	font-family: "SimHei" !important;
}
.body_bg{
	background: #f5f5f5;
}
.pro_con{
	margin:  0 auto;
}
.pro_nav{
	width: 510px;
	margin: 0 auto;
	height: auto;
	font-size: 18px;
	overflow:  hidden;
	color: #fff;
	padding-bottom:30px;
	text-align:  center;
}
.pro_nav_bg{
	background: url("../image/pro_nav.png") no-repeat;
}
.pro_nav_postion{
	width: 173px;
	height: 25px;
	overflow: hidden;
	padding-top: 8px;
	float: left;
}
/** 项目详情 start**/
.pro_yun{
	width: 1112px;
	margin: 0 auto;
	height: auto;
	font-size: 18px;
	overflow:  hidden;
	margin-top: -78px;
	text-align:  center;
}
.pro_img{
	width: 400px;
	height: 180px;
	padding-top: 45px;
	padding-left: 10px;
	float: left;
	text-align: left;
}

.pro_img img{
	float: left;
	margin-top: -5px;
	margin-right: 10px;
}
.pro_qr_code{
	width: 230px;
	height: 180px;
	padding-top: 35px;
	padding-left: 10px;
	float: right;
}

.share{
	width: 220px;
	height: 80%;
	float: right;
	text-align: left;
	padding: 15px;
}

.share img{
	margin-top: -5px;
}

#head_detail{
	width: 284px;
	height: 167px;
	padding: 15px;
	background: #fff;
	border: 15px #000 solid;
}

#head_detail p{
	line-height: 28px;
}
/** 项目详情end**/
.basic{
	background-position: 0px -1px;
}
.eidtitem{
	background-position: -253px -1px;
}
.pro_preview{
	width: 1112px;
	margin: 0 auto;
	margin-top: -30px;
	overflow: hidden;
	text-align:  right;
	margin-bottom: 10px;
}
.pro_form{
	width: 100%;
	background: #fff;
	margin:  0 auto;
}

.pro_form header{
	width: 64%;
	text-align: right;
}

.pro_form_color{
	color: #ff0404;
	margin-right: 5px;
	font-size: 14px;
	line-height: 25px;
	text-align:  right;
}
.trust{
	color: #239af7;
	font-size: 14px;
	text-decoration: none;
}
.trust:hover, .trust:focus{
	color: #239af7;
	text-decoration: none;
}

.input-file {
	display:inline-block;
	width: 80px;
	line-height:30px;
	text-align:center;
	overflow:hidden;
	position:relative;
	border: 1px solid transparent;
}
.input-file:hover, .input-file:focus {
	background:#ccc;
}
.input-file input {
	opacity:0;
	filter:alpha(opacity=0);
	position:absolute;
	top:0;
	right:0;
}
.btn-width-1{
	width: 142px;
	height: 43px;
}
.btn-width-2{
	width: 97px;
	height: 32px;
}
.btn-width-3{
	width: 112px;
	height: 35px;
}
.btn-width-4{
	width: 88px;
	height: 31px;
}
.btn-width-5{
	width: 236px;
	height: 38px;
}
.btn-width-6{
	width: 90px;
	height: 30px;
}
.btn-width-7{
	width: 70px;
	height: 26px;
	padding-top: 2px !important;
}
.btn-width-8{
	width: 60px;
	height: 22px;
}
.btn-width-9{
	width: 88px;
	height: 28px;
}
.btn-custom {
	color: #fff !important;
	background-color: #038cfd !important;
	border-color: #038cfd !important;
}
.btn-preview, .btn-preview:hover, .btn-preview:focus {
	color: #656565;
	background-color: #cccccc;
	border-color: #cccccc;
	text-decoration: none;
}
.btn-custom:hover, .btn-custom:focus {
	color: #fff !important;
}
.pro_edit_bg{
	width: 98%;
	height: 25px;
	padding-top: 5px;
	padding-right: 20px;
	margin-bottom: 3px;
	text-align: right;
}
.pro_edit_bg img{
	margin-top: -5px;
}
.label-blue{
	color: #036cbe;
}
.label_7{
	color: #038cfd !important;
}
.label_8{
	 color: #8a8989;
 }
.label_9{
	color: #b8b8b8;
	font-size: 14px;
}
.label_10{
	font-size: 20px;
}
.label_11{
	font-size: 30px;
}
.label_12{
	font-size: 16px;
}
.label_13{
	font-size: 32px;
}
.label_14{
	font-size: 25px;
}

.label_color_1{
	color: #343434;
}
.label_color_2{
	color: #666666;
}
.label_color_3{
	color: #ff6600;
}
.label_color_4{
	color: #0099ff;
}
.label_color_5{
	color: #038cfd;
}


.label_size_1{
	font-size: 14px;
}
.label_size_2{
	font-size: 18px;
}
.label_size_3{
	font-size: 35px;
}
.label_size_4{
	font-size: 24px;
}
.label_size_5{
	font-size: 12px;
}
.label_size_6{
	font-size: 16px;
}
.label_size_7{
	font-size: 20px;
}
.label_2{
	color: #9d9e9f;
	font-size: 22px;
}
.label_3{
	color: #fff;
	font-size: 18px;
}
.label_4{
	color: #c8c8c8;
	font-size: 18px;
}
.label_5{
	color: #343434;
	font-size: 18px;
}
.label_6{
	color: #666666;
	font-size: 16px;
	font-family: "Microsoft YaHei";
}
.label_font_arial{
	font-family: Arial;
	font-weight: bold;
}
.label_font_simHei{
	font-family: "SimHei" !important;
}
.label_font_yaHei{
	font-family: "Microsoft YaHei";
}
.a_decoration, .a_decoration:hover, .a_decoration:focus{
	text-decoration: none;
}

.pro_context{
	width: auto;
	float: left;
	background: #fff;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.pro_product{
	width: 735px;
	height: 145px;
	overflow: hidden;
	border-bottom: 1px #cfcfcf dashed;
}
.pro_tab{
	width: 705px;
	height: auto;
	padding: 15px;
	overflow: hidden;
	margin-top: 10px;
	text-align: center;
}
.pro_tab p{
	line-height: 28px;
	text-align: left;
	font-size: 14px;
}
.pro_mes{
	width: 317px;
	height: 100px;
	background: #fff;
	margin-bottom: 10px;
	box-shadow:0px 0px 5px #f2f2f2;
	-webkit-box-shadow: 0px 0px 5px #f2f2f2;
}
.l{
	height: 10px;
}
.pro_con_border{
	border: 1px #dcdcdc solid;
}
.pro_tab_1{
	width: 90px;
	height: 100%;
	float: left;
	background: #484848;
	border-right: 1px #484848 solid;

}
.pro_label{
	width: 100%;
	height: 60px;
	margin-top: 45px;
	text-align: center;
}
.tab_hide{
	display: none
}
#tab1 .tab_menu{
	margin-top: 72px;
	padding: 0px;
	text-align: center;
}
#tab1 .tab_menu li{
	line-height: 62px;
	height: 62px;
	list-style: none;
	margin-left: 0px;
}
#tab2{
	width: 100%;
	height: 52px;
	margin-top: -55px;
	background: #eeeeee;
	border-top: 1px #e0e0e0 solid;
	border-bottom: 1px #e0e0e0 solid;
}
#tab3, #tab5{
	width: 100%;
	height: 36px;
	margin-top: 20px;
}
.pro_1{
	width: 100%;
	margin-top: 100px;
	background: #f5f5f5;
}
.pro_2{
	width: 100%;
	height: auto;
	margin-top: 30px;
	overflow: hidden;
	background: #f5f5f5;
}
#tab2 .tab_menu{
	width: 1112px;
	height: 100%;
	margin: 0 auto;
	padding: 0px;
	text-align: center;
}
#tab2 .tab_menu li{
	height: 32px;
	width: 180px;
	margin-top: 10px;
	padding-top: 10px;
	float: left;
	list-style: none;
	margin-left: 0px;
}

#tab3 .tab_menu, #tab5 .tab_menu{
	width: auto;
	height: 100%;
	margin: 0 auto;
	padding: 0px;
	margin-left: 32px;
	margin-right: 32px;
	text-align: center;
	border-bottom: 2px #f3f3f3 solid;
}
#tab3 .tab_menu li, #tab5 .tab_menu li{
	width: 72px;
	padding: 8px 0px;
	float: left;
	list-style: none;
	margin-right: 2px;
	background: #f8f8f8;
	border-left: 2px #f3f3f3 solid;
	border-right: 2px #f3f3f3 solid;
	border-top: 2px #f3f3f3 solid;

}

.selected_1{
	background: #353535;
}
.selected_2{
	background: #f5f5f5;
	border-top: 1px #e0e0e0 solid;
	border-left: 1px #e0e0e0 solid;
	border-right: 1px #e0e0e0 solid;
}
.selected_3{
	background: #fff !important;
}
.tab_box3, .tab_box5{
	margin-left: 32px;
}

.pro_context_title{
	width: auto;
	padding: 18px;
	overflow: hidden;
}
.pro_context_title span{
	line-height: 30px;
}
.pro_context_body{
	margin: 10px;
}
.pro_context_text{
	width: 310px;
	margin-left: 10px;
	padding: 10px;
	overflow: hidden;
	border-top:  1px #cccccc solid;
}
.pro_context_text_border{
	border-top:  1px #cccccc dotted;
}
.pro_context_text span{
	line-height: 28px;
}
.pro_context_text .sui-progress{
	height: 10px;
	background: #97d6ff;
}
.pro_context_body img{
	float: left;
	margin-top: -10px;
	margin-right: 10px;
}
.pro_imgList{
	height: 100px;
	margin-top: 45px;
	padding-top: 35px;
	overflow: hidden;
	border-top:  1px #cccccc solid;
}
.imgDiv{
	width: 106px;
	float: left;
}
.text_position_c{
	text-align: center;
}
.text_position_r{
	text-align: right !important;
}
.border_line{
	border-right: 1px #CCCCCC solid;
}
.pro_imgList img{
	margin-right: 0px;
}
.progress-custom {
	height: 10px;
	line-height: 10px;
	font-size: 12px;
}
.progress-index {
	height: 12px !important;
	line-height: 10px;
	font-size: 12px;
	background: #038cfd !important;
}
.bar-index {
	background: #0a5996 !important;
}
.sui-progress .bar-custom{
	background: #038cfd !important;
}
.sui-btn-1{
	display: inline-block;
	padding: 5px 8px;
	box-sizing: border-box;
	margin-bottom: 0;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #333;
	background-color: #eee;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border: 1px solid #eee;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.sui-btn-radius {
	border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
}







/* 个人中心*/


.in_head{
	width: 100%;
	height: 73px;
}

.in_dyc{
	width: 100%;
	height: 73px;
}
.in_head .head_img{
	width: 90px;
	height: 90px;
	float: left;
	margin-top: -20px;
	margin-left: 35px;
	margin-right: 20px;
	vertical-align: bottom;
	border-radius: 50px;
	-webkit-border-radius: 50px;
}
.in_dyc .head_img{
	clear: both;
	margin-top: 10px !important;
	margin-right: 30px;
}
.in_head p{
	padding-top: 20px;
}
.in_dyc p{
	padding-top: 25px;
}
.in_conf{
	vertical-align: bottom;
	margin-left: 5px;
}

.in_att{
	width: 100%;
	padding-left: 35px;
	color: #fff;
}
.in_att span{
	line-height: 18px;
}
.in_att_1{
	float: left;
	margin-right: 10px;
	text-align: center;
}
.in_s{
	float: left;
	font-size: 24px;
	margin-top: 3px;
	font-family: "Microsoft Yahei";
	font-weight: 100;
	margin-right: 10px;
}
.in_fans{
	float: left;
	margin-right: 10px;
	text-align: center;
}

.in_safety{
	width: 540px;
	margin-left: 120px;
	margin-top: -20px;
	float: left;
}
.in_safety span{
	font-size: 16px;
	color: #fff;
	font-family: "SimHei";
}
.in_safety .sui-progress{
	height: 8px;
}
.in_safety .progress-bar-1{
	background: #c8c8c8 !important;
	border: 2px #cecece solid;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}
/*.ins_bg{*/
	/*background: url("../image/in_icon.png") no-repeat;*/
/*}*/
.ins_pos{
	width: 28px;
	height: 28px;
	float: left;
	margin-top: 27px;
	margin-left: 8px;
}
.ins_1{
	background-position: -118px -32px;
	margin-right: -3px;
}
.ins_2{
	background-position: -150px -32px;
	margin-right: -3px;
}
.ins_3{
	background-position: -180px -32px;
}
.ins_4{
	background-position: -245px -32px;
	margin-top: -8px;
}
.ins_5{
	background-position: -310px -32px;
	margin-top: -8px;
}
.progress-box{
	margin-top: 6px;
	border-bottom: 2px #aeaeae solid !important;
}

.in_mess{
	float: right;
	margin-top: 10px;
	margin-right: 55px;
}
.in_mess span{
	font-size: 14px;
	float: left;
	color: #fff;
	font-family: "SimHei";
}
.subNavBox{
	width: 200px;
	height: 605px;
	overflow: hidden;
	float: left;
	background: #f9f9f9;
	border: 1px #e6e6e6 solid;
}
.subNav{
	height: 20px;
	padding: 10px 15px 10px;
	color: #343434;
	font-family: "SimHei";
	font-size: 16px;
	background: #f9f9f9;
	border-top: 1px #e6e6e6 solid;
	border-bottom: 1px #e6e6e6 solid;
	margin-top: -1px;
}

.subNav div{
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 2px;
	background: url("../image/li_open.png");
}
.currentDd div, .currentDd div{
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 2px;
	background: url("../image/li_colse.png");
}
.currentDd, .currentDt, .subNav:hover, .subNav:focus{
	color: #038cf6;
}
.navContent {
	display: none;
	padding: 0px;
	margin: 0px;
	background: #eeeeee;
}
.navContent li {
	list-style: none;
	padding-left: 48px;
}
.navContent li a{
	font-family: "SimHei";
	font-size: 14px;
	color: #343434;
	display: inline-block;
	text-decoration: none;
	height: 15px;
	padding: 12px 2px 12px;
	border-bottom: 1px #b6b6b6 dotted;
}
.navContent li a:hover, .navContent li:focus{
	color: #038cf6;
}
.navContent li a img{
	margin-left: -5px;
	margin-right: 5px;
	vertical-align: bottom;
}
.subNavText{
	width: 750px;
	height: auto;
	min-height: 605px;
	margin-left: -1px;
	float: left;
	overflow: hidden;
	background: #fff;
	border: 1px #e6e6e6 solid;
}
.subNavHead{
	width: 100%;
	height: 20px;
	padding: 5px 30px 5px;
	background: #f9f9f9;
}
.subNavHead a, .subNavHead a:hover, .subNavHead:focus{
	font-size: 12px;
	color: #038cfd;
	text-decoration: none;
	margin-right: 5px;
}
.subNavText .tab_box{
	padding: 20px 0px 0px 0px;
}
.subNavText .tab_box .spt_list_tile{
	margin-top: -5px;
}
.subNavText .tab_box .spt_list_div{
	margin-right: 35px;
}

/* dynamic start*/
.dyn_att{
	width: 200px;
	height: auto;
	float: left;
}

.dyn_ta{
	width: 746px;
	float: right;
	background: #fff;
	box-shadow:0px 0px 5px #f2f2f2;
	-webkit-box-shadow: 0px 0px 5px #f2f2f2;
}
.att{
	background: #fff;
	margin-bottom: 10px;
	box-shadow:0px 0px 5px #f2f2f2;
	-webkit-box-shadow: 0px 0px 5px #f2f2f2;
}
.att img{
	margin: 15px 20px 10px;
}

.att ul{
	margin: 0px;
	padding: 0px 15px 0px;
}
.att ul li{
	list-style: none;
	border-bottom: 1px #f3f3f3 solid;
	padding: 3px 10px 3px;
	line-height: 23px;
	font-family: "SimHei";
	font-size: 14px;
	font-weight: 300;
}
.letter{
	width: 16px;
	height: 16px;
	float: left;
	margin-top: 1px;
	margin-left: 5px;
	background-position: -90px -170px;
}
.att_investor{
	width: 12px;
	height: 13px;
	float: left;
	margin-top: 4px;
	margin-right: 8px;
	background-position: -90px -86px;
}
.att_address{
	width: 12px;
	height: 14px;
	float: left;
	margin-top: 4px;
	margin-right: 8px;
	background-position: -90px -113px;
}
.att_help{
	width: 12px;
	height: 24px;
	float: left;
	overflow: hidden;
	margin-top: 4px;
	margin-right: 8px;
	background-position: -90px -138px;
}
.att_more{
	padding: 10px 5px 10px;
	text-align: center;
	margin-top: 10px;
	border-top: 1px #f3f3f3 solid;
}
.att_more a, .att_more a:hover, .att_more a:focus{
	font-family: "SimHei";
	font-size: 14px;
	color: #343434;
	text-decoration: none;
}
.att_title{
	font-family: "SimHei";
	font-size: 16px;
	font-weight: 300;
	padding: 15px 15px;
}
.att_imgList{
	margin: 0px 8px;
	padding-bottom: 5px;
	overflow: hidden;
	border-bottom: 1px #f3f3f3 solid;
}
.att_imgDiv{
	width: 60px;
	float: left;
	text-align: center;
}
.att_imgDiv img{
	margin: 0px;
}
#tab4{
	height: 55px;
	padding: 0px ;
	text-align: center;
	background: #f9f9f9;
	border: 1px #f8f8f8 solid;
}
#tab4 .tab_menu{
	padding: 0px 125px;
	text-align: center;
	overflow: hidden;
}
#tab4 .tab_menu li{
	width: 100px;
	padding: 18px 0px 18px;
	margin-right: 50px;
	text-align: center;
	float: left;
	list-style: none;
}
#tab4 .tab_menu li a, #tab4 .tab_menu li a:hover, #tab4 .tab_menu li a:focus{
	font-family: "SimHei";
	font-size: 16px;
	color: #343434;
}
.tab_box4{
	height: 423px;
	padding: 30px 0px 0px 0px;
}
.tab_box4 .spt_list_div{
	clear: both;
	width: 518px;
	height: 170px;
}

.selected_4{
	border-bottom: 3px #038cf6 solid;
}
.dyn_div{
	width: auto;
	overflow: hidden;
	margin-bottom: 20px;
	margin-right: 100px;
	margin-left: 120px;
	border: 1px #cccccc solid;
}
.dynDiv_img{
	width: 254px;
	float: left;
	padding: 1px;
}
.dynDiv_text{
	width: 240px;
	float: right;
	overflow: hidden;
	padding: 0px 10px;
}
.dynDiv_text .dynDiv_tile{
	font-size: 18px;
	color: #282828;
}

.dynDiv_text p{
	line-height: 1px;
}
.dyn_div p img{
	margin-top: -2px;
	margin-right: 5px;
}
.dyn_div .sui-progress{
	height: 9px !important;
	background: #97d6ff !important;
}
.dynDiv_fot{
	height: 18px;
	padding: 10px 10px;
	overflow: hidden;
	background: #f5f5f5;
}
.dynDiv_fot a{
	margin-top: -4px;
	float: right;
}
.dynDiv_border {
	border: 1px #e1e1e1 solid;
}
.dynDiv_comment{
	width: 565px;
	float: right;
	font-family: "SimHei";
	height: auto;
}
.dynDiv_comment label{
	line-height: 25px;
	display: block;
}
.com_title{
	font-size: 16px;
	color: #343434;
}
.com_time{
	font-size: 14px;
	color: #343434;
}
.com_text{
	font-size: 14px
	color: #999999;
}

.tooltips{
	position:relative;
	background:#f3f3f3;
	padding: 10px;
	margin-top: 10px;
	border-radius:2px;
}
.arrow{
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #f3f3f3;
	top: -8px;
	left: 28px;
	position: absolute;
	font-size: 0;
	line-height: 0;
}

/* 时间轴 start */
ul.timeline {
	list-style-type: none;
}
ul.timeline li {
	position: relative;
	background: url("../image/version_dot_alt.png") repeat-y scroll 90px 0 transparent;
	overflow: hidden;
}
ul.timeline li .timeM {
	font-family: "Arial";
	font-size: 18px;
	color: #038cf6;
	width: 70px;
	left: 20px;
	position: absolute;
	text-align: center;
}
ul.timeline li .timeY {
	font-family: "SimSun";
	font-size: 14px;
	color: #038cf6;
	width: 70px;
	top: 18px;
	left: 20px;
	text-align: center;
	overflow: hidden;
	position: absolute;
}
ul.timeline li .number {
	position: absolute;
	background: url("../image/version_dot.png") no-repeat scroll 0 0 transparent;
	width: 56px;
	height: 56px;
	left: 83px;
	text-align: center;
	color: #fff;
	font-size: 18px;
}
/* 时间轴 end */

.in_personal{
	width: 534px;
	padding-top: 15px;
	margin-left: 120px;
	overflow: hidden;
}
.in_personal img{
	width: 94px;
	height: 94px;
	margin-top: -8px;
	margin-right: 20px;
	float: left;
	vertical-align: top;
}
.in_personal span, .in_personal a span{
	font-family: "SimHei";
	font-size: 14px;
	color: #494949;
	display: block;
	line-height: 22px;
}
.in_personal a{
	margin-top: 10px;
}
.in_personal a span{
	color: #fff;
}
.in_personal .control-group label{
	width: auto !important;
	text-align: left !important;
}
.in_border{
	width: 320px;
	margin: 15px 0px;
	border-top: 1px #b6b6b6 dotted;
}
.membership{
	padding: 80px 60px 200px;
	font-family: "SimHei";
	font-size: 16px;
	color: #343434;
}
.membership_bg{
	background: url(../image/membership.png) no-repeat;
}
.m_tou{
	width: 102px;
	padding-top: 60px;
	text-align: center;
	margin-right: 10px;
	float: left;
	background-position: 5px 0px;
}
.m_tui{
	width: 102px;
	padding-top: 60px;
	margin-right: 10px;
	text-align: center;
	float: left;
	background-position: -138px 0px;
}
.m_c{
	width: 112px;
	padding-top: 60px;
	margin-right: 20px;
	text-align: center;
	float: left;
	background-position: -262px 0px;
}
.m_j{
	width: 112px;
	padding-top: 60px;
	margin-right: 20px;
	text-align: center;
	float: left;
	background-position: -405px 0px;
}
.m_l{
	width: 112px;
	padding-top: 60px;
	margin-right: 20px;
	text-align: center;
	float: left;
	background-position: -548px 0px;
}
.recharge, .account{
	padding: 15px 45px;
}
.balance, .bank, .payment, .mention{
	padding: 5px 50px;
	width: 200px;
	margin-bottom: 20px;
	border: 4px #f7f8fa solid;
}
.addBank{
	padding: 10px 50px;
	margin-left: 50px;
	float: left;
}
.addBank img{
	vertical-align: bottom;
}
.bank{
	width: 560px;
	padding: 20px 50px;
}
.payment, .mention{
	width: 650px;
	padding: 20px 20px;
}
.bank input{
	display: inline-block;
}
.balance span, .bank span{
	font-family: "SimHei";
	font-size: 16px;
}
.balance .money{
	font-size: 28px;
	color: #1cc487;
}
.bank .radio-pretty{
	line-height: 50px !important;
}
.bank .radio-pretty img{
	width: 196px;
	height: 40px;
	border: 1px #b5b5b5 solid !important;
}
.arrow1{
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #038cfd;
	margin-left: 500px;
	margin-top: -15px;
	font-size: 0;
	line-height: 0;
}
.payment label{
	font-family: "SimHei";
	font-size: 16px !important;
}
.paymentLeft{
	margin-left: 100px;
}
.paymentLeft img{
	margin-top: -3px;
}
.payment_border{
	width: 430px;
	margin-left: 102px;
	border-top: 1px #c7c7c7 dashed;
	height: 10px;
}
.mention img{
	width: 93px;
	height: 33px;
}
.mention a{
	margin-left: 50px;
	margin-right: 10px;
}
.mention label{
	font-size: 16px;
	font-family: "SimHei";
}
.attention{
	padding: 10px 50px 0px 80px;
	overflow: hidden;
}
.attention_div{
	width: 178px;
	height: 240px;
	float: left;
	margin-right: 22px;
	margin-bottom: 20px;
	border: 2px #e9e9e9 solid;
}
.attention_title{
	width: 100%;
	height: 70px;
	text-align: center;
	background: #f9f9f9;
}
.attention_title img{
	width: 98px;
	height: 98px;
	margin-top: 20px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
}
.attention_text{
	width: 60%;
	text-align: right;
	float: left;
	margin-top: 50px;
	font-size: 18px;
}
.t_img{
	margin-top: 47px;
	margin-left: 5px;
}
.attention_address{
	margin: 30px 10px 10px;
	padding-bottom: 10px;
	font-size: 14px;
	color: #666666;
	text-align: center;
	border-bottom: 1px #edeceb solid;
}
.attention_btn{
	padding: 0 8px;
}
.attention_btn a{
	padding: 2px 5px !important;
	width: 78px;
	height: 26px;
	font-size: 14px;
}
.collection{
	padding-bottom: 20px;
}
.page{
	padding: 10px;
	text-align: center;
	margin-bottom: 0px;
}
.history{
	padding: 10px 50px;
}
.history header{
	float: right;
	padding-right: 20px;
	font-size: 16px;
	margin-bottom: 5px;
	font-family: "SimHei";
}
.history header .money{
	color: #2abe7d;
	font-size: 16px;
	font-weight: bold;
	font-family: "SimHei";
}
.history thead{
	background: #f5f5f5;
}
.history tbody tr td{
	border-top: none;
	border-bottom: 1px #b6b6b6 dotted;
	font-size: 14px;
	height: 50px;
}
.income{
	color: #2abe7d;
}
.recharge_his table .money{
	font-weight: bold;
}
.count{
	text-align: right;
}
.authentication{
	padding: 10px 130px;
}
.img_size{
	width: 158px;
	height: 62px;
	padding: 20px;
	border: 1px #CCCCCC solid;
}
.img_size span{
	line-height: 20px;
}
.a_file{
	width: 200px;
	height: 20px;
	padding: 0px;
	font-size: 14px;
	border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
}
.authentication .control-label{
	width: 120px !important;
	font-size: 16px;
}
.authentication .span{
	font-size: 12px;
	font-family: SimHei;
}
.protection{
	padding: 10px 20px;
}
.protection table{
	border: 1px #eeeeee solid;
}
.protection span{
	padding-right: 10px;
	color: #4d4d4d;
}
.protection tr{
	height: 40px;
	color: #999999;
}
.protection table th{
	font-size: 14px;
}
.protection table td a{
	color: #0088cc;
}
.protection table td a{
	padding: 0px 10px;
}
/* dynamic end*/
.modal-header h4{
    font-family: "SimHei" !important;
    font-size: 22px !important;
    color: #000000 !important;
}

/* roadshowVideo start */

.video_more{
	border-top:1px solid #d3d3d3;
	margin-top:40px;
	position:relative;
	height:56px;
}
.video_more a{
	width:107px;
	text-align:center;
	position:absolute;
	font-size:20px;
	font-family:"SimHei";
	background: #f5f5f5;
	display:block;
	margin-left: -53px;
	top:-13px;
	left:50%;
	color: #343434;
}
.video_show_bg{
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index:400;
	text-align: center;
	position: absolute;
	background: #000;
	opacity: 0.5;
}
.video_show{
	width: 1112px;
	height: 630px;
	background: #000000;
	margin-left: -556px;
	top: 150px;
	left: 50%;
	position: absolute;
	z-index: 500;
}

.return_btn{
	top: 20px;
	right: 20px;
	position: absolute;
}
.return_btn img{
	margin-top: -5px;
}
.return_btn a, .return_btn a:hover, .return_btn a:focus{
	font-family: "SimHei";
	text-decoration: none;
	font-size: 18px;
	color: #cfcfcf;
}
.video_show_footer{
	width: 100%;
	height: 60px;
	margin-top: -5px;
	background: #050f17;
	border-top: 1px #083144 solid;
	border-bottom: 1px #083144 solid;
	box-shadow:0px 0px 35px #083144 inset;
	-webkit-box-shadow: 0px 0px 35px #083144 inset;
}
.video_show_footer .spt_list_fot{
	margin-top: 12px;
	padding-left: 30px;
	background: none;
}
.video_show_footer .spt_list_fot img{
	margin-top: -8px;
}
.progressBar {
	position: relative;
	width: 100%;
	bottom: 170px;
	height: 10px;
	background: #616161;
}
.timeBar {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #0690f2;
}
.circle{
	width: 16px;
	height: 16px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	top: 22px;
	background: #fff;
	margin-top: -25px;
	z-index: 501;
	position: absolute;
}
.progressTime{
	position: relative;
	width: 100%;
	bottom: 110px;
	height: 40px;
	color: #fff;
	font-size: 23px;
}
.progressTime .arrow{
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 30px solid #fff;
	margin: 5px 10px;
	font-size: 0;
	line-height: 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
.progressTime .pause{
	width: 10px;
	height: 30px;
	margin: 5px 10px;
	border-left: 10px #fff solid;
	border-right: 10px #fff solid;
}
.progressTime .time{
	padding: 10px 130px 0px;
}
/* roadshownVideo end */